services:
  bentopdf:
    container_name: bentopdf-simple
    image: bentopdf/bentopdf-simple:sha-fb8c8c0
    restart: unless-stopped
    ports:
      - "${APP_PORT}:8080"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
