services:
  bentopdf:
    container_name: bentopdf-simple
    image: ghcr.io/alam00000/bentopdf-simple:2.0.0
    restart: unless-stopped
    ports:
      - "${APP_PORT}:8080"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
